.user-section {
    display: flex;
    flex-wrap: wrap;
}

.user {
    display: grid;
    padding: 20px 0 0;
    max-width: 400px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $gap;

    h1 {
        display: none;
    }

    img {
        width: 100%;
        
    }
}