header {
    @include flexCenter(row);
    // background: transparent;
    color: $textColor;
    
    .hidden {
        @include hidden();
    }
}

.mainNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #f8d188;
    font-family: $mainFont;
    
    .logo {
        color: $accentColor;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
    }

    .navLinks {
        display: flex;
        justify-content: space-between;
        width: 30%;
        
        a {
            color: $accentColor;
            text-decoration: none;
            letter-spacing: 3px;
            font-weight: bold;
            font-size: $mainFontSize;
        }

        li {
            list-style: none;
        }
    }
    
    .burger {
        display: none;
        cursor: pointer;
        color: $accentColor;
    
        div{
            width: 25px;
            height: 3px;
            background-color: $accentColor;
            margin: 5px;
        }
    }
}
