header {
    @include flexCenter(row);
    // background: transparent;
    color: $textColor;

    position: fixed;
    width: 100%;
    z-index: 3;
    
    .hidden {
        @include hidden();
    }
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #ffaf20;
    font-family: $mainFont;
    
    .logo {
        color: $accentColor;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
        justify-content: start;
    }
}
