$primaryBtn: rgb(103, 56, 146);
$textColor: #0c0c0c;

$columns: 12;
$gap: 20px;

$accentColor: #608371;
$accentFont: 'michaelregular', sans-serif;

$mainFont: 'Montserrat', sans-serif;
$mainFontSize: 16px;
$textColor:#0c0c0c;

// $header-size: 2em;

/* 
COLOUR PALETTE
#e6a94e - mustard yellow - rgb(230,169,78)
#d48d6d - desert coral - rgb(212,141,109)
#608371 - jade green - rgb(96,131,113)
#e5dad3 - linen white - rgb(229,218,211)

FONTS
#0c0c0c - off-black - rgb(12,12,12)
Michael
Montserrat Regular
*/